.address_{
    opacity: 0.6;
    width: 83%;
    display: flex;
    position: relative;
    left: 8px;
    justify-content: flex-start;
}

.address-box {
    box-sizing: border-box;
}

.title-address{
    font-size: 22px;
    padding:28px 64px 25px;
    color: #666;
}

.choose-address{
    position: relative;
    left:65px;
    font-size: 15px;
    color: #666;
}

.new-address{
    margin: 0px 60px 15px 60px;
}

.form-new-address{
    position: relative;
    left:3px;
    font-size: 15px;
    color: #666;
}

