.title{ 
    color:white;
    text-align: center;}

.centro{ 
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;}

.s{ 
    float: left;}
       
.a{ 
    float: right;}

.v{ 
    margin: 0 auto;}

.fa{
    background-color:#cf0a2c ;}

.row{
  
     margin-left: 0.5px;
     margin-right: 0.5px;}

.b{
   background-color: cornflowerblue;
   padding:0;}

.p{
    background-color: cyan;}

.border{
    border-color: #cdcdcd !important;}

.btn{
    float: right;}