.izquierdaa{float: left;

width: 500px;}

.derechaa{float: right;
}

.modala{height: 400px;
background-color: aqua;}




.verfactura{
    color: gray;
    text-align: center;
    cursor: pointer;
}


.as{background-color: white;
    border-radius: 5px;}

.compra { border: 1px solid #bdc3c7;
          border-radius: 5px;
          height:220px;
         }

.botones{float: right;}


.producto{float: left;}

.usuario{float: right;
    }

.imag{width: 150px;}

.texto{float: right;}

.foto{float: left;}

.nombre{font-size:0.7em}