.fixed-bottom {
   
    right: 0;
    bottom: 40;
    left: 0;
    z-index: 1030;
}

.bg-dar {
    background-color: #cf0a2c!important;
    height: 50px;
}

.footer{text-align: center;
color: white;}

