.contenedor{
            height: 750px;
            margin-top: 3%;
            margin-right: auto;
            margin-left: auto;
            padding-left:0px;
            padding-right:0px;
    
           
  
    }

.izquierda{
           
           float: left;
           
        }
    
.credito{
          border-radius:10px;
     
        }



.efectivo{
           margin-top: 20px;
           border-radius:10px;
           margin-bottom: 20px;
         }

.pse{
      margin-top: 20px;
      border-radius:10px;
      }


.tamano{height:70px;
       }

.tarjeta{height: 200px;     
       }


.contenido{
   height: 600px;
   float: left;
  

}



.color{
      background-color: white;
      }

.titulo{ font-size: 1.5rem;
         color: #666;
         font-weight: 500;}

.input-group{width:200px}



.cred{height: 850px;
float: left;
text-align: center;}

.efecty{
        float: left;}

.baloto{
        float: right;}

.img-efecty{width:250px ;
margin-left:10%;}

.img-baloto{width: 250px;
      margin-left:10%}


.cero{
        border-bottom: 1px solid #E1E8DF;
	cursor:pointer;
	font-weight:bold;
	padding:0.2em 0;
        outline:none;
        box-shadow: none;
        }


button{cursor:pointer;
	
	padding:0.2em 0;
        outline:none;
        box-shadow: none;
        background-color: white;}

.terminos{
          height: 200px;
          background-color: white;
          margin-top:20px;
}

.persona{
         float: left;}

.di{
     float: right;}

.condiciones{text-align: center;}

.month{float: left;
}



.an{float: right;}


.cv{float: right;
}
.cuotas{
float: right;}

.doc{
float: left;
}

.f{background-color: cadetblue;
margin-left: -8px;}

.n{
     
   
float: right;}

.collap{height: 1050px !important;
background-color: white;}

.cont{
height: 500px;}

.false{display:none}
.active{display: block;}