.facturacredito{color:#055902;
                 font-size:1.2em !important;
                 font-weight: 800 !important;
                 }
.ima{width:200px;
    display:block;
    margin:auto;}

    .imagen{
        margin: 0 auto;
        align-items: center;
        
    }