.derecha{
         float: right;
         background-color: white;
         margin-top:3%;
         border-radius: 5px;
       }

.cuadro{background-color: white;
         }

.imagenes{width:150px !important;
  float: left;
}

.tit{font-size:0.8em;
 margin-top: 20px ;}

 .precio{font-weight: 200;
  font-size:0.9em;}

 .tex{float: right;

}

.m{background-color: blue;
}

.j{float: right;
text-align: center;}

