.derecha{
         height: 300px;
         float: right;
       }

.cuadro{background-color: white;
         margin-top: 14%;}

.imagenes{width:150px !important;
  float: left;
}

.tit{font-size:0.8em;
 margin-top: 20px ;}

 .tex{float: right;

}

.m{background-color: blue;
}

.j{float: right;}

